body
{
    background-color: grey;
    margin-top: 50px;
    height: 100%;
}

/* IDs */
#content-container
{
    border: 1px solid black;
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    right: 0;
}
#navbar
{
    position: fixed;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index:999;
}
#navbar-order
{
    margin: 0;
    padding: 0;
    text-align: center;
}
#mc-section
{
    background-image: url('jasoncoverphoto.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 600px; 
    text-align: center;
}
#mc-section h1
{
    color: white;
    margin-top: 0px;
    line-height: 600px;
}
#divCentering1
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#divCentering2
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#divCentering3
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CLASSES */
.navbar-item
{
    color: white;
    display: inline;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    list-style: none;
}
.navbar-item a
{
    color: white;
}
.content-section
{
    color: white;
    margin-top: 0px;
    height: 600px;
}
.content-section h1
{
    text-align: center;
}
.content-section p
{
    text-align: left;
}
.para
{
    margin: 20px;
    padding: 20px;
    
}